# This file is for sensitive variables. Copy/rename it to secrets.auto.tfvars and make sure not to commit it.
# These values are also visible in the state file (terraform.tfstate), so make sure not to commit that too.
secret_variables = {
  PRIVATE_API_KEY = "api-key-to-allowing-deleting-items"
}
